.myImg {
  display: block;
  margin: auto;
}

.line-height {
  line-height: 2.5rem !important;
  font-size: 2rem !important;
}

@media screen and (max-width: 1024px) {
  .myImg {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  /* .myImg {
    width: 100%;
    margin: auto;
  } */

  /* .iPadSpacing {
    width: 100%;
  } */
}

/* @media screen and (max-width: 411px) {
  .myImg {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .myImg {
    width: 100%;
    margin: auto;
  }
} */
