.imageCardSize {
  width: 100%;
  height: 333px;
}

@media screen and (max-width: 768px) {
  .imageCardSize {
    height: 250px;
  }
}

@media screen and (max-width: 320px) {
  .imageCardSize {
    width: 100%;
  }
}
