.nodeimg {
  width: 100%;
  height: 250px;
}

.setHeight {
  height: 450px;
  margin-bottom: 1rem;
}

.nodePositioning {
  position: relative;
}

.nodeButtonHolder {
  position: absolute;
  bottom: 10px;
}

@media screen and (max-width: 768px) {
  .nodeImageTitle {
    font-size: 14px !important;
  }

  .nodeImageDesc {
    font-size: 11px !important;
  }
}
