.cardBody {
  min-width: 275px;
}

.divHeight {
  height: 333px;
}

.textPositioning {
  position: relative;
}

.textButtonHolder {
  position: absolute;
  bottom: 10px;
}

.textPos {
  font-size: 20px !important;
}

.textTitle {
  font-size: 42px !important;
}

@media screen and (max-width: 1500px) {
  .textPos {
    font-size: 20px !important;
  }

  .textTitle {
    font-size: 38px !important;
  }
}

@media screen and (max-width: 1024px) {
  .textPos {
    font-size: 18px !important;
  }

  .textTitle {
    font-size: 42px !important;
  }
}

@media screen and (max-width: 848px) {
  .textPos {
    font-size: 18px !important;
  }

  .textTitle {
    font-size: 38px !important;
  }
}

@media screen and (max-width: 783px) {
  .textPos {
    font-size: 18px !important;
  }

  .textTitle {
    font-size: 36px !important;
  }
}

@media screen and (max-width: 768px) {
  .divHeight {
    height: 250px;
  }

  .textPos {
    font-size: 18px !important;
  }

  .textTitle {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 622px) {
  .textPos {
    font-size: 16px !important;
  }

  .textTitle {
    font-size: 26px !important;
  }
}

@media screen and (max-width: 455px) {
  .textPos {
    font-size: 14px !important;
  }

  .textTitle {
    font-size: 26px !important;
  }
}

@media screen and (max-width: 414px) {
  .textPos {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 411px) {
  .textPos {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 375px) {
  .textPos {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 339px) {
  .textPos {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 320px) {
  .textPos {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 309px) {
  .textPos {
    font-size: 11px !important;
  }
}
