.aboutIconImg {
  width: 85px;
  margin-right: 20px;
  margin-left: 20px;
}

.aboutExpressLogo {
  width: 165px;
  margin-right: -25px;
  margin-left: -25px;
}

.aboutReactLogo {
  width: 165px;
  margin-right: -20px;
  margin-left: -20px;
}
