.portimg {
  width: 100%;
  height: 300px;
}

.setHeightImage {
  height: 470px;
  margin-bottom: 1rem;
}

.positioning {
  position: relative;
}

.buttonHolder {
  position: absolute;
  bottom: 10px;
}

@media screen and (max-width: 768px) {
  .imageCardTitle {
    font-size: 14px !important;
  }

  .imageCardDesc {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 375px) {
  .imageCardDesc {
    font-size: 11px !important;
  }
}

@media screen and (max-width: 320px) {
  .imageCardTitle {
    font-size: 12px !important;
  }

  .imageCardDesc {
    font-size: 10px !important;
  }
}
