nav {
  background-color: white;
  color: black !important;
}

.navbar {
  /* padding-left: 0; */
}

nav ul a {
  color: black;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.maxSize {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  .brand-logo {
    left: 0% !important;
    margin-left: 20px;
  }

  .navbar {
    padding-left: 1rem;
  }
}
