.portContainer {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .hideIt {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .portSmallerFont {
    font-size: 1.5rem !important;
  }
}
